.home-header {
    text-align: center;
    padding: 20px;
}

.welcome {
    font-size: 3.2em;
    margin-bottom: 40px;
}

.home-nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.home-nav li {
    margin: 0 15px; 
    padding: 10px 20px; 
    border: 1px solid #256;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.home-nav li:hover {
    background-color: #007BFF; 
    transform: scale(1.1); 
}

.home-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    display: block;
    padding: 10px;
    transition: color 0.3s ease; 
}

.home-nav a:hover {
    color: white; 
}

.fade-in .welcome {
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards ease-in-out;
}

.fade-in .home-nav {
    opacity: 0;
    animation: fadeIn 1s 0.8s forwards ease-in-out;
}
